<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
    <h2>New Person's info</h2>
    <form th:method="POST" th:object="${newPerson}" th:action="@{/people}">

        <label for="name">Enter Person's FIO : </label>
        <input id="name" type="text" th:field="*{name}"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
        <br>

        <label for="age">Enter Person's age: </label>
        <input id="age" type="text" th:field="*{age}"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</div>
        <br>

        <label for="phone">Enter Person's telephone :</label>
        <input type="tel" id="phone" placeholder="8-***-***-**-**" th:field="*{telephoneNumber}"/><br>
        <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{telephoneNumber}">error</div>
        <br>

        <input type="submit" value="Add new Person ->"/>
    </form>

</body>
</html>