<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <p th:text="'Persons\'s ID:  ' + ${person.getPersonId()}">value</p>
    <p th:text="'Persons\'s FIO:  ' + ${person.getName()}">value</p>
    <p th:text="'Persons\'s age:  ' + ${person.getAge()}">value</p>
    <p th:text="'Persons\'s telephone :  ' + ${person.getTelephoneNumber()}">value</p>

    <a th:if="${not books.isEmpty()}">
        <a th:text="'List of books taken by ' + ${person.name} + ' :'">text</a><br>
        <div th:each="book, state : ${books}">
            <a th:text="${state.count} + ') Title - ' + ${book.getTitle()} + ' / ' + 'Author - ' + ${book.getAuthor()}">user</a>
        </div>
    </a>

    <a th:if="${books.isEmpty()}"> No one books !<br></a>

    <br>

    <form method="get" action="/people">
        <input type="submit" value="<- Return to List">
    </form>
</body>
</html>